.secondaryNav
  display flex
  flex-flow row wrap
  margin 0 -1em

  &__nav
    margin 0 0 1em
    flex 1 0 25%

  &__title
    padding 0 1em
    margin-bottom .25em
    white-space nowrap

  &__nav-link
    font-weight 400
    padding .25em 1em
    display block
    color inherit
