if links

  - var modifierClass = modifierClass ? ' '+ modifierClass : ''
  - var className = className ? className : 'navigation'

  nav(class= className,
      aria-label= title,
      role="navigation")
    ul(class= className+ '__list')
      each item in items
        - var itemClassName = className + '__item'
        - itemClassName += item.name ? ' ' + itemClassName + '--' + item.name.split(' ').join('-').toLowerCase() : ''

        li(class= itemClassName)
          - var linkClassName = className + '__link'
          a(class= linkClassName,
          href= item.href,
          title= item.title)= item.title