.grid.grid--padding
  .grid__item
    .dsc-bordered-area with padding
  .grid__item
    .dsc-bordered-area with padding

.grid.grid--padding
  .grid__item
    .dsc-bordered-area with padding
  .grid__item
    .dsc-bordered-area with padding
  .grid__item
    .dsc-bordered-area with padding
