.grid
  .grid__item.grid__item--1-2
    .dsc-bordered-area 1/2
  .grid__item
    .dsc-bordered-area auto
  .grid__item
    .dsc-bordered-area auto

.grid
  .grid__item
    .dsc-bordered-area auto
  .grid__item.grid__item--1-2
    .dsc-bordered-area 1/2
  .grid__item
    .dsc-bordered-area auto

.grid
  .grid__item
    .dsc-bordered-area auto
  .grid__item
    .dsc-bordered-area auto
  .grid__item.grid__item--1-2
    .dsc-bordered-area 1/2

.grid
  .grid__item.grid__item--2-3
    .dsc-bordered-area 2/3
  .grid__item
    .dsc-bordered-area auto

.grid
  .grid__item
    .dsc-bordered-area auto
  .grid__item.grid__item--2-3
    .dsc-bordered-area 2/3

.grid
  .grid__item.grid__item--3-4
    .dsc-bordered-area 3/4
  .grid__item
    .dsc-bordered-area auto

.grid
  .grid__item
    .dsc-bordered-area auto
  .grid__item.grid__item--3-4
    .dsc-bordered-area 3/4