.hide.hide--phone
  .dsc-bordered-area This element is #[strong hidden] on #[strong smartphone] like screens

.hide.hide--tablet
  .dsc-bordered-area This element is #[strong hidden] on #[strong tablet] like screens

.hide.hide--laptop
  .dsc-bordered-area This element is #[strong hidden] on #[strong laptop] like screens

.hide.hide--desktop
  .dsc-bordered-area This element is #[strong hidden] on #[strong desktop] like screens

.hide.hide--tv
  .dsc-bordered-area This element is #[strong hidden] on #[strong TV] like screens
