.show.show--phone
  .dsc-bordered-area This element is #[strong visible] on #[strong smartphone] like screens

.show.show--tablet
  .dsc-bordered-area This element is #[strong visible] on #[strong tablet] like screens

.show.show--laptop
  .dsc-bordered-area This element is #[strong visible] on #[strong laptop] like screens

.show.show--desktop
  .dsc-bordered-area This element is #[strong visible] on #[strong desktop] like screens

.show.show--tv
  .dsc-bordered-area This element is #[strong visible] on #[strong TV] like screens