.hide.hide--touch
  .dsc-bordered-area This element is #[strong hidden] on #[strong] Touch like screens


.show.show--touch
  .dsc-bordered-area This element is #[strong visible] on #[strong] Touch like screens
