.grid
  .grid__item.grid__item--1-3
    .dsc-bordered-area 1/3
  .grid__item
    .dsc-bordered-area auto
.grid
  .grid__item
    .dsc-bordered-area auto
  .grid__item.grid__item--1-3
    .dsc-bordered-area 1/3

.grid
  .grid__item.grid__item--1-4
    .dsc-bordered-area 1/4
  .grid__item
    .dsc-bordered-area auto

.grid
  .grid__item
    .dsc-bordered-area auto
  .grid__item.grid__item--1-4
    .dsc-bordered-area 1/4

.grid
  .grid__item.grid__item--1-5
    .dsc-bordered-area 1/5
  .grid__item
    .dsc-bordered-area auto

.grid
  .grid__item.grid__item--2-5
    .dsc-bordered-area 2/5
  .grid__item
    .dsc-bordered-area auto

.grid
  .grid__item.grid__item--3-5
    .dsc-bordered-area 3/5
  .grid__item
    .dsc-bordered-area auto

.grid
  .grid__item.grid__item--4-5
    .dsc-bordered-area 4/5
  .grid__item
    .dsc-bordered-area auto

.grid
  .grid__item.grid__item--1-6
    .dsc-bordered-area 1/6
  .grid__item
    .dsc-bordered-area auto

.grid
  .grid__item.grid__item--5-6
    .dsc-bordered-area 5/6
  .grid__item
    .dsc-bordered-area auto
