.primaryNav
  display flex
  flex-flow column nowrap
  margin 0 -.75em

  @media $mediaMinTabletMid
    flex-flow row nowrap

  &__item-link
    fontPrimary(1.125em, 700, uppercase)
    padding .275em .5em
    margin .15em
